.card .image label{
    color: #fff !important;
    font-size: 1.5em;
}
.ui.toggle.checkbox input:checked~label{
    color: #fff !important;
}

/* .ui.visible.uncover.sidebar, .pusher, .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher{ */
.background-gradient{ 
    background: linear-gradient(#00b5ad, #1e47a5) !important;
    background-attachment: fixed;
}

#sidebar_one{
    display: flex;
}

.ui.menu .item {
    padding: 1.48857143em 0.6em;
}

.item > span{
    display: flex;
    justify-content: center;
}

.ui.vertical.icon.menu {
   width: 7rem;
}

.ui.inverted.menu .active.item {
    background: rgba(86, 37, 37, 0.15);
}

.align-buttom{
    margin-top: auto;
}

.div-weather{
    font-size: 1.72rem;
}

.separator-enchufes{
    padding-top: 0.4rem !important; 
}

.ui.green.label, .ui.green.labels .label {
    background-color: #21ba45d1 !important;
}

.ui.red.label, .ui.red.labels .label {
    background-color: #ff000096 !important;
    border-color: #db2828 !important;
}

.label{
    text-align: center;
    color: #fff !important;
    width: 100%;
}

#row-title{
    padding-top: 1.6rem;
}

#row-have-cards{
    text-align: unset;
}

#button-hamburger{
    padding: 0.2rem;
}