.section {
  font-size: 3em;
}
.slick-slide img{
  display: inline-block;
}

.scroll-items img{
  width: 25%;
}

.card-enchufe{
  margin-left: 1em !important;
  margin-right: 0.2em !important;
  background-color: #ffffff45 !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
}
.card-enchufe > .image{
  padding: 1em !important;
}

.form-name-enchufe{
  padding: 10px;
}
.form-error{
  border: 0.560px #941c1c solid;
  border-radius: 8px;
}

.icons-enchufes img{
  width: 20%;
  height: auto;
  margin: 5% 6% 0% 6% !important;
  cursor: pointer;
  cursor: hand;

  /* For alt (when image not load) */
  color: white;
  font-size: 1rem; 
  text-transform: uppercase;
}

#modal-check-add-enchufe .header{
  font-size: 2.285714em;
}

#name-item-yousure, #modal-name-encufe{
  color: #fbbd08;
  font-style: italic;
}
#modal-check-add-enchufe > .content{
  font-size: 1.14em;
}

#modal-check-add-enchufe > .content > p{
  margin-top: 1.5rem;
}


#modal-check-add-enchufe > .content > img{
  width: 52%;
}

#button-go-main{
  background-color: #00ada5;
  color: white;
}