.body-background{
    background: linear-gradient(#00b5ad, #1e47a5);
    background-attachment: fixed;
    height: 100%;
}

input[type=number] {
    -moz-appearance:textfield !important;
}
.without-margin{
    margin: 0px !important;
}

.margin-lef-auto{
    margin-left: auto;
}

.none{
    display: none !important;
}

.display-flex{
    display: flex;
}

.value-cards{
    padding: 6px;
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 1.09em;
}

.display-inline-block{
    display: inline-block !important;
}

.user-select-none{
    user-select: none;
}

.off{
    transition: 1s !important;
    filter: grayscale(68%) !important;
}

.off:hover{
    filter: grayscale(0%) !important;
    transition: 4.5s !important;
}

.aling-right{
    float: right;
}
.in-center{
    text-align: center !important;
}

.text-medium{
    font-size: 30px !important; 
}

.hidden{
    visibility: hidden;
}

.margin-top--5{
    margin-top: -5%;
}

.margin-top--10{
    margin-top: -10%
}

.padding-top-0{
    padding-top: 0px !important;
}

.padding-bottom-0{
    padding-bottom: 0px !important;
}

.white{
    color: white;
}

.ui-header-blue{
    color: #1e47a5 !important;
}

.ui-label-green{
    color: #00b5ad !important;
}

.border-error{
    border-color: #941c1c !important;
}

.border-color-grey{
    border: 0.5px solid #bababc !important;
}

.scroll{
    overflow: scroll !important;
}

.clickeable{
    cursor: pointer;
    cursor: hand;
}

/* ZcOrem is Zero coma Ocho rem */
.ZcOrem{
    font-size: 0.8rem;
}
/* .UcDrem is Uno coma Dos rem */
.UcDrem{
    font-size: 1.2rem;
}
/* .UcCrem is Uno coma Cuatro rem */
.UcCrem{
    font-size: 1.4rem;
}
/* .DcCrem is  Dos coma Cinco rem*/
.DcCrem{
    font-size: 2.5rem;
}

.logo-size{
    width: 25%;
}

.no-input{
    border-radius: 15px !important;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 2%) !important; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, rgba(255, 255, 255, 0) 2%) !important;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

.without-left{
    left: 1em !important;
}

.all-width{
    width: 100%;
}

.padding-1em{
    padding: 1em !important;
}

.margin-top-02em{
    margin-top: 0.2em !important;
}

.margin-top-1em{
    margin-top: 1em !important;
}

.margin-bottom-1em{
    margin-bottom: 1em !important;
}

.margin-left-1em{
    margin-left: 1em !important;
}

/* When the screen is smaller than 660px */
@media only screen and (max-width: 660px) {

    .text-medium{
        font-size: 22px;
    }

    .logo-size{
        width: 50%;
    }
}


/* Calendar */
.ui.calendar .ui.popup{
    max-width:none;
    padding:0;
    border:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.ui.calendar .calendar:focus{
    outline:0
}
.ui.calendar .ui.table.minute,.ui.calendar .ui.table.month,.ui.calendar .ui.table.year{
    min-width:15em
}
.ui.calendar .ui.table.day
{
    min-width:18em
}
.ui.calendar .ui.table.hour{
    min-width:20em
}
.ui.calendar .ui.table tr td,.ui.calendar .ui.table tr th{
    padding:.5em;
    white-space:nowrap
}
.ui.calendar .ui.table tr th{
    border-left:none
}
.ui.calendar .ui.table tr th .icon{
    margin:0
}
.ui.calendar .ui.table tr:first-child th{
    position:relative;
    padding-left:0;
    padding-right:0
}

.ui.calendar .ui.table.day tr:first-child th{
    border:none
}
.ui.calendar .ui.table.day tr:nth-child(2) th{
    padding-top:.2em;padding-bottom:.3em
}
.ui.calendar .ui.table tr td{
    padding-left:.1em;padding-right:.1em
}
.ui.calendar .ui.table tr .link{
    cursor:pointer
}
.ui.calendar .ui.table tr .prev.link{
    width:14.28571429%;
    position:absolute;
    left:0
}
.ui.calendar .ui.table tr .next.link{
    width:14.28571429%;
    position:absolute;
    right:0
}
.ui.calendar .ui.table tr .disabled{
    pointer-events:none;
    color:rgba(40,40,40,.3)
}
.ui.calendar .ui.table tr td.today{
    font-weight:700
}
.ui.calendar .ui.table tr td.range{
    background:rgba(0,0,0,.05);
    color:rgba(0,0,0,.95);
    box-shadow:none
}
.ui.calendar .ui.table.inverted tr td.range{
    background:rgba(255,255,255,.08);
    color:#fff;
    box-shadow:none
}
.ui.calendar .calendar.active .ui.table tbody tr td.focus,.ui.calendar .calendar.active .ui.table.inverted tbody tr td.focus,.ui.calendar .calendar:focus .ui.table tbody tr td.focus,.ui.calendar .calendar:focus .ui.table.inverted tbody tr td.focus{
    box-shadow:inset 0 0 0 1px #85B7D9
}
