<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TODO: icon of "enchufe" -->
    <link rel="icon" href="../img/1-100x100.png" type="image/png" sizes="16x16">

    <title>Mi casa</title>

    <!-- CDN - Weather Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">

    <!-- CDN - SEMANTIC UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.css">

    <!-- My style/css -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-enchufes.css">
    <link rel="stylesheet" href="../css/style-main.css">

    <script src="../js/IP.js"></script>

</head>

<body class="body-background">
    <div ng-app="myApp" ng-controller="myCtrl">
        <span id="ip" class="none">LU</span>

        <div id="sidebar_one" class="ui left vertical inverted sidebar labeled icon menu">
            <a class="item active">
                <i class="home icon"></i>
                Mi casa
            </a>
            <a class="item" href="./statistics.html">
                <i class="chart bar icon"></i>
                Estadísticas
            </a>
            <a class="item" href="./start.html">
                <i class="plug icon"></i>
                Modificar enchufes
            </a>
            <a id="logout" class="item align-buttom">
                <i class="sign out icon"></i>
                Cerrar sesión
            </a>
        </div>
        <div class="pusher">
            <div class="ui grid">
                <div id="row-title" class="ui row">
                    <div class="two wide column">
                        <i id="button-hamburger" class="big bars icon clickeable"></i>
                    </div>
                    <div class="twelve wide column">
                        <h1 class="in-center">Menú principal</h1>
                        <div class="div-weather in-center">
                            <div class="column">
                                <i id="weather-icon"></i>
                                <span id="weather-grados"></span>
                            </div>
                            <div class="column margin-top-02em">
                                <span id="weather-city"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row separator-enchufes">
                    <div class="column">
                        <h4 id='divider' class="ui horizontal divider header">
                            <i class="plug icon"></i>
                            Enchufes registrados
                        </h4>
                    </div>
                </div>
                <div id="row-have-cards" class="row centered">
                    <div id="cards-enchufes" class="ui centered cards">
                        <div id="card-{{element.id}}" class="ui card card-enchufe" ng-repeat="element in enchufes">
                            <span ng-class="{green: element.estado, red: !element.estado}" class="ui label">{{element.estado
                                ?
                                'Prendido' : 'Apagado'}}</span>
                            <div id="dimmer-{{element.id}}" class="blurring dimmable image">
                                <div class="ui dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div id="chk-enchufe{{element.id}}" ng-class="{checked: element.estado}"
                                                class="ui toggle checkbox">
                                                <input id="checkboxOnOff-{{element.id}}" type="checkbox" name="public"
                                                    ng-checked="element.estado">
                                                <label id="lbl-enchufe{{element.id}}">{{element.estado ? 'Prendido' :
                                                    'Apagado'}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <img ng-class="{off: !element.estado}" src="../img/house-icons/svg/{{element.icono}}.svg">
                            </div>
                            <div class="content">
                                <a class="header">{{element.nombre}}</a>
                                <div class="meta">
                                    <span class="date">Enchufe #{{element.id}}</span>
                                </div>
                                <div class="description">
                                    <p ng-bind-html="element.resumen | unsafeLinky:'_blank'"></p>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="statistic">
                                    <div class="value">
                                        <i class="chart area icon"></i> 0 kW
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

<!-- CDN - Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- CDN - JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- CDN - SEMANTIC JS -->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"></script>

<!-- My js - scroll-enchufes -->
<script src="../js/main.js"></script>

</html>